/* ID */
#header
{
    background-color: darkgrey;
    width:auto;
}
#linkedin:link
{
    text-decoration: none;
}

#profile-pic
{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

/* CLASS*/
a.mainNav
{
    display: inline-block;
    font-size: 20px;
    font-family: Arial;
    border: 5px groove black;
    color:rgb(8, 98, 8);
    padding-right: 5px;
    padding-left: 5px;
}


section.bottom
{
    border-top: 2px groove black;
    /* background-image: ; */
}

/* section.header
{
	position: fixed;
	left:0;
	right:0;
	z-index:1;
} */


/* Classique */
body
{
    font-family: 'IBM Plex Sans', sans-serif;
}

h2
{
    border-bottom: 5px solid;
}

a:hover{
    background-color: gold;
}

p
{
    font-size: 1em;
}

img
{
    margin:auto;
    padding: auto;
}

div
{
    margin-right: 3em;
    margin-right: 3em;
    display: inline;
}

